@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
    --font-gamja: "Gamja Flower", cursive;
    --font-geist-mono: "Geist Mono", monospace;
}

body {
    background: url("/background_wood.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
